{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Provider</th>
                    <th>Price</th>
                    <th>Appointment at</th>
                    <th>Status</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for booking in object_list %}
                    <tr class="{% if booking.status == 'APPROVED' %}table-success{% elif booking.status == 'REJECTED' %}table-danger{% elif booking.status == 'CANCELLED' %}table-warning{% endif %}">
                        <td>{{ booking.service.name }}</td>
                        <td>{{ booking.service.provider }}</td>
                        <td>৳{{ booking.service.price }}</td>
                        <td>{{ booking.booked_for }}</td>
                        <td>{{ booking.status }}</td>
                        <td>{% if booking.status == 'REQUESTED' %}
                            <a href="{% url 'booking-cancel' pk=booking.pk %}" class="btn btn-danger"><i class="fa fa-ban" aria-hidden="true"></i> Cancel</a>
                        {% endif %}
                        {% if booking.status == 'APPROVED' %}
                            <a href="{% url 'booking-ticket' pk=booking.pk %}" class="btn btn-success"><i class="fa fa-ticket" aria-hidden="true"></i> Ticket</a>
                            {% if booking.service.provider.map_query %}
                                <a href="https://www.google.com/maps/search/?api=1&query={{ booking.service.provider.map_query | urlencode }}"
                                   class="btn btn-info" target="_blank"><i class="fa fa-globe" aria-hidden="true"></i> Map</a>
                            {% endif %}
                        {% endif %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
